@model IEnumerable<taskapp.Models.TaskItem>

@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2 class="display-4">My Tasks</h2>
</div>
<hr />
<table class="table table-borderless">
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.Title)</b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-right btn btn dark">
    @Html.ActionLink("Add Task", "Create")
</div>
